{% extends "base.html" %}

{% block content %}
  {% include "tabs/inicio.html" %}
  {% if config.tabs.areas %}{% include "tabs/areas.html" %}{% endif %}
  {% if config.tabs.documentos %}{% include "tabs/documentos.html" %}{% endif %}
  {% if config.tabs.novo_morador %}{% include "tabs/novo_morador.html" %}{% endif %}
  {% if config.tabs.contatos %}{% include "tabs/contatos.html" %}{% endif %}
  {% if config.tabs.vendas %}{% include "tabs/vendas.html" %}{% endif %}
  {% if config.tabs.faq %}{% include "tabs/faq.html" %}{% endif %}
{% endblock %}
